
@font-face{
	font-family:cowboy;
	src: url(../fonts/bleedingcowboys.ttf);
}
@font-face{
	font-family: bravada;
	src: url(../fonts/bravada.ttf);
}
@font-face{
	font-family:comicsans;
	src: url(../fonts/comicsans.ttf);
}
@font-face{
	font-family: disco;
	src: url(../fonts/diskoteque.ttf);
}
@font-face{
	font-family:germ;
	src: url(../fonts/germanika.ttf);
}
@font-face{
	font-family: herc;
	src: url(../fonts/herculanum.ttf);
}
@font-face{
	font-family:starlight;
	src: url(../fonts/ladystarlight.ttf);
}
@font-face{
	font-family: preschool;
	src: url(../fonts/preschooler.ttf);
}
@font-face{
		font-family: riesling;
	src: url(../fonts/riesling.ttf);
}
html{
	background-image: url(../gifs/bg/space.gif);
	padding:none;
	margin:none;
	height: 100%;
}

body{

}

a, a:visited{
	text-decoration:none;
	animation-duration: 4s;
	animation-name: intro;
	animation-iteration-count: infinite;
}

a:hover{
	text-decoration: none;
	animation-duration: 4s;
	animation-name: hovercolor;
	animation-iteration-count: infinite;
}

#vid{
	margin-right: auto;
	margin-right: auto;
	width: 536px;
}

@keyframes intro {
	0%{
		color: #f2c9e2;
	}

	35%{
		color:#c4f086;
	}

	65%{
		color:#9bdfeb;
	}

	100%{
		color:#f2c9e2;
	}
}

#oof{
	position: absolute;
	color: white;
	font-family: comicsans;
	font-size: 18px;
	top: 70px;
	left: 880px;
}

#index{
	cursor: url(../gifs/god/cross.gif), auto;
}

#click{
	z-index: 11;
	right: 20px;
	color: white;
	font-family: comicsans;
	font-size: 18px;
	position: absolute;
}

#intro{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 50px;
	margin-bottom: 100px;
	font-family: preschool;
	font-size: 100px;
	animation-name: intro;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	position: relative;
	z-index: 10;
	height:200px;
	max-width: 600px;
	background-image: url(../gifs/bg/space2.gif);
	
}

h2{
	font-family: comicsans;
	color: white;
	padding-bottom: 50px;
	width:500px;
}






